<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/new.css">
    <script src="https://kit.fontawesome.com/892ac48df4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>


<script th:inline="javascript">
    function mediaStart() {
        let record = document.getElementById("record");
        let stop = document.getElementById("stop");
        let send = document.getElementById("send");
        let input = document.getElementById("quest");
        console.log(navigator.mediaDevices);
        if (navigator.mediaDevices) {
            console.log("미디어장치있음");
            const constraints = {audio: true};
            let chunks = [];//녹음된 내용을 저장할 변수

            //정상구현
            navigator.mediaDevices.getUserMedia(constraints).then(MediaStream => {
                //녹음을 시작하고 종료하는 객체
                const mediaRecorder = new MediaRecorder(MediaStream);
                //녹음시작
                record.onclick = () => {
                    chunks = [];//이전에 녹음된 내용이 있으면 초기화
                    mediaRecorder.start();// 녹음 start
                    //녹음 시작되면 녹음 시작 버튼 비활성화
                    record.style.display = "none";
                    stop.style.display = "block";
                    send.disabled = true;
                    input.disabled = true;


                }
                //음성저장하는 함수
                mediaRecorder.ondataavailable = e => {
                    if (e.data.size > 0) {
                        chunks.push(e.data)
                    }
                }

                //녹음 종료
                stop.onclick = () => {
                    mediaRecorder.stop();
                    record.style.background = "";
                    record.style.color = "";
                    record.disabled = false;
                }
                //녹음이 완료되면 서버로 녹음 내용을 보내고 결과를 받는다
                mediaRecorder.onstop = () => {
                    //chunks배열에 저장된 음성데이터를 바이너리코드로 변환환다.

                    const blob = new Blob(chunks, {type: "audio/webm"});
                    //바이너리코드로 변환한 음성파일을 폼에다 담아서 서버로 전송
                    let formdata = new FormData();
                    formdata.append("file", blob);
                    formdata.append("chatId", [[${chatId}]]);
                    //비동기식으로 ajax실행하기
                    let xhr = new XMLHttpRequest();
                    console.log([[${chatId}]]);

                    //1. 서버에서 결과를 받으면 처리할 이벤트
                    xhr.onload = () => {
                        console.log("xhr onload")
                        if (xhr.status == 200) {//정상적으로 전송받으면
                            //xhr.response : 받은 결과값이 들어있는 변수
                            window.location.reload();
                        }
                    }
                    //2. 서버열기
                    xhr.open("post", "/api/speaking_record_ok", true);
                    //3. 서버에 전송하기
                    xhr.send(formdata);

                };
            }).catch(err => {
                console.log(err);
            });


            //정상구현 안됐을 경우
        } else {
            console.log("미디어장치없음");
        }


    }//mediaStart()

    $(function () {
        let msg = [[${msg}]];
        if(msg!==""&&msg!==null){
            alert(msg)
        }
        let chatId = [[${chatId}]];
        if(chatId === "" || chatId==null){
            $(".input-group").children().prop("disabled", true);
            $("#quest").attr("placeholder", "select chat or create new one");
            console.log( );

        }
        scrollToBottom();
        $("#send").click(function () {
            let quest = document.getElementById("quest").value
            if (quest === "") {
                alert("메시지를 입력해주세요");
                return false;
            }
            console.log(quest);
            $.ajax({
                url: '/api/chats/openAI_ok', // 실제 AJAX 요청을 처리할 엔드포인트
                type: 'POST',
                data: {
                    "quest": quest,
                    "chatId": [[${chatId}]]
                },// 또는 'POST', 요청 유형에 따라 설정
                success: function (response) {
                    console.log(response) // 요청 결과를 표시할 요소
                    window.location.reload();

                },
                error: function () {
                    alert('에러 발생');
                }
            });
        })

        $("#new_chat").click(function () {
            window.location.href = "/chats/new";
        })

        $(".fa-bookmark").click(function () {
            let bookmark = $(this)
            let messageId = $(this).siblings(".messageId").val()
            let isBookmarked = Boolean($(this).siblings('.isBookmarked').val());

            $.ajax({
                url: '/api/chats/bookmark', // 실제 AJAX 요청을 처리할 엔드포인트
                type: 'POST',
                data: {
                    "messageId": messageId,
                    "isBookmarked": isBookmarked
                },// 또는 'POST', 요청 유형에 따라 설정
                success: function (response) {
                    console.log(response);
                    // 요청 결과를 표시할 요소
                    if (response) {
                        if (isBookmarked) {
                            bookmark.removeClass()
                            bookmark.attr("class", "fa-regular fa-bookmark mt-1");
                            bookmark.siblings('.isBookmarked').val("");

                        } else if (!isBookmarked) {
                            bookmark.removeClass()
                            bookmark.attr("class", "fa-solid fa-bookmark mt-1");
                            bookmark.siblings('.isBookmarked').val("true");

                        }
                    }

                },
                error: function () {
                    alert('에러 발생');
                }
            });
        })

        $("#editing_chat_list").click(function () {
            $(".editing").prop("hidden", false);
            $(".normal").prop("hidden", true);
        });

        $("#back_to_normal").click(function () {
            $(this).prop("hidden", true);
            $(".normal").prop("hidden", false)
            $(".editing").prop("hidden", true)
        })

        $("#deleting_chat").click(function () {
            let checked_chat = $(".checked_chat:checked")
            console.log("type : " + typeof checked_chat + "\n checked_chat : \n");
            console.log(checked_chat);
            if (checked_chat.length === 0) {
                alert("체크된 채팅이 없습니다.");
            }
            if (checked_chat.length > 0) {
                if (confirm("삭제된 채팅은 복구할 수 없습니다. 삭제하시겠습니까?")) {
                    $("#chat_list_form").submit();
                }
            }
        })

        $("#checking_all").click(function (){
            let isChecked = this.checked;
            if(isChecked){
                $(".checked_chat").prop("checked",true)
            }
            if(!isChecked){
                $(".checked_chat").prop("checked",false)
            }
        })



    })

    const scrollToBottom = () => {
        const messages = document.getElementById('scroll_container');
        messages.scrollTo(0, messages.scrollHeight);
    }


</script>
<body onload="mediaStart()">


<header id="header">
    <hr>
</header>
<main>
    <div class="chat_container">
        <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary chat_box">
            <div class="d-flex justify-content-start p-3 ">
                <i class="fa-solid fa-chevron-left editing" id="back_to_normal" hidden></i>
            </div>
            <div class="d-flex justify-content-between flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                <button class="btn btn-outline-dark normal" id="editing_chat_list"> 편집</button>
                <button class="btn btn-danger editing" id="deleting_chat" hidden> 삭제</button>
                <input type="checkbox" class="btn btn-light editing" id="checking_all" hidden/>
                <button class="btn btn-secondary normal" id="new_chat"> + 새 채팅</button>
            </div>
            <form id="chat_list_form">
                <div class="list-group list-group-flush border-bottom scrollarea" id="chat_list">
                    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <small class="mb-1 updated_at"></small>
                            <input type="checkbox" class="editing checked_chat" name="chatId" hidden/>
                        </div>
                        <div class="col-10 mb-1 strong first_message">Some placeholder content in a paragraph below the heading and
                            date.
                        </div>
                    </a>
                </div>
            </form>
        </div>

        <div id="message_container">
            <div id="scroll_container">
                <div class="chat-messages p-4" id="messages_list">
                    <!--  message Box  -->
                    <div class="chat-role">
                        <div class="rounded py-2 px-3 mr-3 message-box">
                            <input type="text" class="messageId" hidden/>
                            <div class="font-weight-bold mb-1">
                                <img width="30px" alt="assistant"/>
                                <div class="assistant"></div>
                            </div>
                            <div class="contents">
                                <span class="content-label">원문</span><span class="chat-content"> Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.</span>
                                <span class="content-label">수정</span><span class="chat-corrected"> Corrected </span>
                            </div>
                            <input type="text" class="isBookmarked" hidden=""/>
                            <i class="fa-bookmark mt-1"></i>
                        </div>
                    </div>
                    <!--  message Box  -->
                </div>
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top" id="recoding_box">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type your message" id="quest" />
                    <button class="btn btn-primary" id="send" >Send</button>
                    <button class="btn btn-warning" id="record" >record</button>
                    <button class="btn btn-danger" id="stop" style="display: none" >stop</button>
                </div>
            </div>
        </div>

    </div>

</main>
<footer id="footer">

</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>