html {
    height: -webkit-fill-available;
}
body{
    height:100vh;
}
main {
    overflow: hidden;
}
#message_container{
    display : flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 130px);
}
#scroll_container {
    margin: 0 auto;
    overflow-y: auto;
    height: calc(100vh - 130px);
    max-width: 900px;
    width: 100%;
}
#scroll_container::-webkit-scrollbar {
    display: none;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.chat_box{
    width: 300px;
    border-right: solid 2px dimgray;
    height: calc(100vh - 130px);
    align-self: stretch;
    overflow-y: auto;
}
.chat_box::-webkit-scrollbar {
    display: none;
}
.chat_container{
    display: flex;
    width:100vw;
    height: 100%
}
#recoding_box{
    width: 100%;
    max-width: 900px;
    margin : 0 auto;
}
footer,header{
    width: 100vw;
}
.selected{
    color: white;
    background-color: #0d6dfb;
    border-bottom : solid 2px #3f3f3f;
    border-right: solid 2px #3f3f3f;
}

.chat-message-right>.message-box>input,
.chat-message-right>.message-box>span {
    display: flex;
    flex-direction: row-reverse;
}
.chat-message-left>.message-box>input,
.chat-message-left>.message-box>div,
.chat-message-right>.message-box>div,
.chat-message-left>.message-box>span {
    display: flex;
    flex-direction: row;
}

.chat-message-left>.message-box{
    flex-grow : 1;
}



.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 1
}

.chat-message-left {
    margin: 0 20px;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.chat-message-right>div>.contents>span{
    align-self: center;
}
.chat-message-right>div>.contents>.content-label{
    flex-grow:0;
    flex-shrink: 0;
    width:60px;
    text-align: right;
    margin-right: 10px;
}
.chat-message-right>div>.contents>span:nth-child(2n){
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 95%;
}

.content-label{
    color : #dee2e6;
    font-weight: bolder;
}
.contents{
    background-color: #f3f7fc;
    border-radius: 10px;
    padding : 10px;
    flex-wrap: wrap;
}
.chat-message-right>div>.contents{
    background-color: #283a96;
    min-width : 400px;
}
.chat-message-right>div>.contents>.chat-content,
.chat-message-right>div>.contents>.chat-corrected{
    background-color: #ffffff;
    padding : 10px 15px;
    border-radius: 10px;
    margin : 5px 3px;

}
.chat-message-right>div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.assistant{
    margin-left: 10px;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
#header-list>li{
    width: 20%;
    min-width: 100px;
}